<include file="Public/header" title="后台主页" />
<style>
.mypage{text-align:center;}
.mypage .current{padding:2px 6px;background:#0ae;border:1px solid #ddd;color:#fff;margin:3px;}
.mypage a{padding:2px 6px;background:#fff;border:1px solid #ddd;color:#0ae;margin:3px;}
</style>
<!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
        主页
        <small>管理面板</small>
      </h1>
      <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="active">Dashboard</li>
      </ol>
    </section>

    <!-- Main content -->
    <section class="content" style="overflow:hidden;">
	<table class="table table-striped">
   <caption>操作日志</caption>
   <caption>
    关键字：<input type="text" name="keyword" id="keyword" value="{$keyword}" placeholder="管理员名称或操作内容">
	开始日期:<input type="text" name="fromdate" id="fromdate" <if condition="$fromdate gt 0">value="{$fromdate|date='Y-m-d',###}"</if> placeholder="开始日期">
	结束日期:<input type="text" name="todate" id="todate" <if condition="$todate gt 0"> value="{$todate|date='Y-m-d',###}"</if> placeholder="结束日期">
	<input type="button" name="serach" id="search" value="搜索">(日期格式：2016-01-10)
	<input type="button" name="toexcel" id="toexcel" value="导出Excel">
   </caption>
   <thead>
		<tr>
			<th>日志编号</th>
			<th>管理员ID</th>
			<th>管理员名称</th>
			<th>操作的模块</th>
			<th>操作的内容</th>
			<th>关联模块数据ID</th>
			<th>操作IP</th>
			<th>操作的时间</th>
		</tr>
   </thead>
   <tbody>
		<foreach name="logslist" item="v">
		<tr id="user-{$v.user_id}">
			<td>{$v.id}</td>
			<td>{$v.admin_id}</td>
			<td>{$v.admin_name}</td>
			<td>{$v.doing_model}</td>
			<td>{$v.doing_things}</td>
			<td>{$v.relation_id}</td>
			<td>{$v.doing_ip}</td>
			<td>{$v.doing_time|date='Y-m-d H:i',###}</td>
		</tr>
		</foreach>
	  <tr>
		<td colspan="8" class="mypage">{$page}</td>
	  </tr>
   </tbody>
</table>
	</section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->
<script>
$(document).ready(function(e) {
	$('#search').click(function(){
	var fromdate=$('#fromdate').val();
	var todate=$('#todate').val();
	var keyword=$('#keyword').val();
	var url = "{:U('adminlogs')}?fromdate="+fromdate+"&todate="+todate+"&keyword="+keyword;
	window.location.href=url;
	});
	//导出excel
	$('#toexcel').click(function(){
	var fromdate=$('#fromdate').val();
	var todate=$('#todate').val();
	var keyword=$('#keyword').val();
	var url = "{:U('adminlogstoexcel')}?keyword="+keyword;
	window.location.href=url;
	});
});
</script>
<include file="Public/footer" />