<include file="Public/header" title="后台主页" />
<style>
.mypage{text-align:center;}
.mypage .current{padding:2px 6px;background:#0ae;border:1px solid #ddd;color:#fff;margin:3px;}
.mypage a{padding:2px 6px;background:#fff;border:1px solid #ddd;color:#0ae;margin:3px;}
</style>
<!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
        主页
        <small>管理面板</small>
      </h1>
      <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="active">Dashboard</li>
      </ol>
    </section>

    <!-- Main content -->
    <section class="content">
	<table class="table table-striped">
   <caption>文章管理</caption>
   <caption>
   <input type="text" name="keyword" id="keyword" value="{$keyword}" placeholder="文章标题">
   <select name="cms_type" id="cms_type">
	<option value="">选择分类</option>
	<volist name="cms_type" id="v">
		<option value="{$v.catid}" <if condition="$v[catid] eq $scms_type">selected</if>>{$v.catname}</option>
		<volist name="v.children" id="vc">
		<option value="{$vc.id}" <if condition="$vc[id] eq $scms_type">selected</if>>|---{$vc.name}</option>
		</volist>
	</volist>
   </select>
   <input type="button" name="serach" id="search" value="搜索">
   </caption>
   <thead>
      <tr>
         <th>编号</th>
         <th>标题</th>
         <th>分类</th>
         <th>发布时间</th>
         <th>操作</th>
      </tr>
   </thead>
   <tbody>
	  <foreach name="cms_data" item="v">
      <tr>
         <td>{$v.cms_id}</td>
         <td>{$v.cms_title}</td>
         <td>{$v.cms_type|getcmstypename=###}</td>
         <td>{$v.cms_publish_date|date="Y-m-d H:i",###}</td>
         <td><a href="{:U('update',array('cms_id'=>$v['cms_id']))}"> 编辑 </a> | <a href="#" data-id="{$v.cms_id}" class="cms-del"> 删除</a></td>
      </tr>
	  </foreach>
	  <tr>
	    <td colspan="5" class="mypage">{$page}</td>
	  </tr>
   </tbody>
</table>
	</section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->
<script>
$(document).ready(function(e) {
	$('.cms-del').click(function(){
	console.log($(this).attr('data-id'));
	var url = "{:U('del')}?cms_id="+$(this).attr('data-id');
	var text = $( this ).text();
	var r=confirm('你确定要删除这篇文章吗？')
	if (r==true){
		$.get(url, function(data,status){
		if(data=='success'){
			alert('删除成功');
			location.reload();
		}
		else{
			alert('error:'+data);
		}
		});
		}
	});
	
	$('#search').click(function(){
	var keyword=$('#keyword').val();
	var cms_type=$('#cms_type').val();
	
	var url = "{:U('wenzhang')}?keyword="+keyword+"&cms_type="+cms_type;
	window.location.href=url;
	});
});
</script>
<include file="Public/footer" />