<html>
<include file="Public/mobile_head" />
 

<body style="margin:0;padding:0;background:#eee;">

<div style="padding:5px 5px 10px 5px;">

	<if condition="$is_ok eq 1">
	<div class="mtitle">
		<p style="margin-left:15px;color:#008fd7;">
		<i class="fa fa-envelope" style="font-size:1.2em;color:#008fd7;width:10px;float:left;margin-right:15px;margin-top:12px;"></i>信息详情
		</p>
	</div>
	<div style="background:#fff;float:left;min-height:60%;">				
		<p style="float:left;padding:10px;width:96%;border-bottom:1px dotted #ddd;"><span style="float:left;">{$msg[msg_type]|getMessageStatusDes=###}</span><span style="float:right;">{$msg[create_time]|date="Y-m-d H:i:s",###}</span></p>
		<p style="float:left;padding:10px;width:96%;">
			{$msg[message]}
		</p>
		
	</div>
	</if>
	<if condition="$is_ok eq 0">
	<div class="alert alert-info col-md-8 col-md-offset-2"  role="alert">
	用户非法操作。
	</div>
	</if>
</div>

</body>
<script>

	$(document).ready(function(e) {
		
	
	});
</script>

</html>