<include file="Public/header" title="后台主页" />
<style>
.mypage{text-align:center;}
.mypage .current{padding:2px 6px;background:#0ae;border:1px solid #ddd;color:#fff;margin:3px;}
.mypage a{padding:2px 6px;background:#fff;border:1px solid #ddd;color:#0ae;margin:3px;}
</style>
<!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
        主页
        <small>管理面板</small>
      </h1>
      <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="active">Dashboard</li>
      </ol>
    </section>

    <!-- Main content -->
    <section class="content" style="overflow:hidden;">
	<table class="table table-striped">
   <caption>报账队列管理</caption>
   <thead>
      <tr>
         <th>位置</th>
         <th>报账券号</th>
         <th>用户</th>
         <th>用户手机</th>
         <th>状态</th>
		 <th>已循环次数</th>
      </tr>
   </thead>
   <tbody>
	  <foreach name="queue" item="v">
      <tr>
         <td>{$v.queue_position}</td>
         <td>{$v.proof_id|getProofnoFromId=###}</td>
         <td>{$v.proof_id|getUserRealnameFromId=###}</td>
         <td>{$v.proof_id|getUserphoneFromId=###}</td>
         <td>{$v.status|getQueueOkStatus=###}</td>
         <td>{$v.loop_times}</td>
      </tr>
	  </foreach>
	  <tr>
		<td colspan="5" class="mypage">{$page}</td>
	  </tr>
   </tbody>
</table>
	</section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->

<include file="Public/footer" />