<head>
    <meta charset="UTF-8">
	<meta name="viewport" content="width=device-width,height=device-height,inital-scale=1.0,maximum-scale=1.0,user-scalable=no;">
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="apple-mobile-web-app-status-bar-style" content="black">
	<meta name="format-detection" content="telephone=no">
    <title>{$title}</title>
    <link rel="shortcut icon" href="__PUBLIC__/images/bzb.ico" type="image/x-icon">
    <meta name="description" content="{$description}">
    <meta name="Keywords" content="{$keyword}">
    <link href="__PUBLIC__/css/bootstrap.css" rel="stylesheet">
	<link href="__PUBLIC__/css/site.css" rel="stylesheet">
	<link href="__PUBLIC__/css/font-awesome/css/font-awesome.min.css" rel="stylesheet">
	<link href="__PUBLIC__/css/mobile.css" rel="stylesheet">
	
	<script src="__PUBLIC__/js/jquery.js"></script>
	<script src="__PUBLIC__/js/bootstrap.js"></script>
	
</head>
