<include file="Public/header" title="后台主页" />

<!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
        主页
        <small>管理面板</small>
      </h1>
      <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="active">Dashboard</li>
      </ol>
    </section>

    <!-- Main content -->
    <section class="content">
	<div id="page-wrapper">
	<form method="post" action="{:U('savecat')}">
        <div class="form-group">
            <label for="post-ct_name">分类名称</label>
            <input type="text" name="name" class="form-control" id="name" placeholder="输入分类名称">
        </div>
        <div class="form-group">
            <label for="pid">上级分类</label>
            <select name="pid" id="pid" class="form-control">
				<option value="0">选择分类</option>
                <volist name="cat" id="v">
                    <option value="{$v.id}">{$v.name}</option>
                </volist>
            </select>
        </div>
		<div class="form-group">
            <label for="post-ct_sort">排序（越大越靠前）</label>
            <input type="text" name="sort" class="form-control" id="post-ct_sort" placeholder="输入排序">
        </div>


        <button type="submit" class="btn btn-default">提交</button>
    </form>
	</div>
	</section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->
<
<include file="Public/footer" />