<include file="Public/header" title="后台主页" />
<style>
.mypage{text-align:center;}
.mypage .current{padding:2px 6px;background:#0ae;border:1px solid #ddd;color:#fff;margin:3px;}
.mypage a{padding:2px 6px;background:#fff;border:1px solid #ddd;color:#0ae;margin:3px;}
</style>

<script>
	window.onload = function(){
		// 选择门头图片
		
			var input = document.getElementById("file_input");
			var result,div;
	 
			if(typeof FileReader==='undefined'){
				result.innerHTML = "抱歉，你的浏览器不支持 FileReader";
				input.setAttribute('disabled','disabled');
			}else{
				input.addEventListener('change',readFile,false);
			}　　　　　
			//handler
			function readFile(){
				//提示正在上传
				$('#uploding').show();
				
				for(var i=0;i<this.files.length;i++){
					if (!input['value'].match(/.jpg|.gif|.png|.bmp/i)){　　//判断上传文件格式
						return alert("上传的图片格式不正确，请重新选择");　　　　　　　　　　
						}
					var reader = new FileReader();
					reader.readAsDataURL(this.files[i]);
					reader.onload = function(e){
						// ajax 上传图片
						var get_url = "{:U('saveuppic')}";
						var pictype=$("#pictype").val();
						var shopid=$("#shopid").val();
						//alert(e.target.result);
						$.post(get_url, { img: e.target.result,pictype:pictype,shopid:shopid},function(ret){	
						   if(ret.img!=''){
								$('#uploding').hide();
							    //alert(ret.msg);
								result = '<div id="result"><img src="'+ret.img+'" alt=""/></div>';
								div = document.createElement('div');
								div.innerHTML = result;
								document.getElementById('picbody').appendChild(div);  　　//插入dom树 
							}else if(ret.msg!=""){
								$('#uploding').hide();
								alert(ret.msg);
							}else{
								$('#uploding').hide();
								alert('图片上传失败！');
							}
						},'json');
			
						  
					}
					 
					　　　　　　　　 
				}   
				
				
			}
		
		
		// 选择内景图片
			var input2 = document.getElementById("file_input2");
			var result2,div2;
	 
			if(typeof FileReader==='undefined'){
				result2.innerHTML = "抱歉，你的浏览器不支持 FileReader";
				input2.setAttribute('disabled','disabled');
			}else{
				input2.addEventListener('change',readFile2,false);
			}　　　　　
			//handler
			function readFile2(){
				
				//提示正在上传
				$('#uploding2').show();
				
				for(var i=0;i<this.files.length;i++){
					if (!input2['value'].match(/.jpg|.gif|.png|.bmp/i)){　　//判断上传文件格式
						return alert("上传的图片格式不正确，请重新选择");　　　　　　　　　　
						}
					var reader2 = new FileReader();
					reader2.readAsDataURL(this.files[i]);
					reader2.onload = function(e){
						// ajax 上传图片
						var get_url2 = "{:U('saveuppic')}";
						var pictype2=$("#pictype2").val();
						var shopid2=$("#shopid2").val();
						//alert(e.target.result);
						$.post(get_url2, { img: e.target.result,pictype:pictype2,shopid:shopid2},function(ret){	
						   if(ret.img!=''){
								$('#uploding2').hide();
							    //alert(ret.img);
								result2 = '<div id="result"><img src="'+ret.img+'" alt=""/></div>';
								div2 = document.createElement('div');
								div2.innerHTML = result2;
								document.getElementById('picbody2').appendChild(div2);  　　//插入dom树 
							}else if(ret.msg!=""){
								$('#uploding2').hide();
								alert(ret.msg);
							}else{
								$('#uploding2').hide();
								alert('图片上传失败！');
							}
						},'json');
			
						  
					}
					 
					　　　　　　　　 
				}   
				
				
			}
		
		
		// 选择产品图片
			var input3 = document.getElementById("file_input3");
			var result3,div3;
	 
			if(typeof FileReader==='undefined'){
				result3.innerHTML = "抱歉，你的浏览器不支持 FileReader";
				input3.setAttribute('disabled','disabled');
			}else{
				input3.addEventListener('change',readFile3,false);
			}　　　　　
			//handler
			function readFile3(){
				
				//提示正在上传
				$('#uploding3').show();
				
				for(var i=0;i<this.files.length;i++){
					if (!input3['value'].match(/.jpg|.gif|.png|.bmp/i)){　　//判断上传文件格式
						return alert("上传的图片格式不正确，请重新选择");　　　　　　　　　　
						}
					var reader3 = new FileReader();
					reader3.readAsDataURL(this.files[i]);
					reader3.onload = function(e){
						// ajax 上传图片
						var get_url3 = "{:U('saveuppic')}";
						var pictype3=$("#pictype3").val();
						var shopid3=$("#shopid3").val();
						//alert(e.target.result);
						$.post(get_url3, { img: e.target.result,pictype:pictype3,shopid:shopid3},function(ret){	
						   if(ret.img!=''){
								$('#uploding3').hide();
							    //alert(ret.img);
								result3 = '<div id="result"><img src="'+ret.img+'" alt=""/></div>';
								div3 = document.createElement('div');
								div3.innerHTML = result3;
								document.getElementById('picbody3').appendChild(div3);  　　//插入dom树 
							}else if(ret.msg!=""){
								$('#uploding3').hide();
								alert(ret.msg);
							}else{
								$('#uploding3').hide();
								alert('图片上传失败！');
							}
						},'json');
			
						  
					}
					 
					　　　　　　　　 
				}   
				
				
			}
		
	}
	</script>
	
	<style>
	.container img {max-width:600px;}
	p{margin:0px;}
	.file{width:50px;left:40%; margin-top:14px;border:0px; height:10px; position:absolute;font-size:14px;}
	.filebtn{position:relative;width:200px;margin:15px auto;display:block; color:#f16265;font-family:"microsoft yahei"; background:rgb(255,210,0); font-size:1.06em;text-align:center; cursor:pointer; border:0px; border-radius:5px;padding:8px 0;}
	.del-btn{
	float:right;margin-top:-20px;margin-right:5px; height:16px;border:1px solid #ccc;background:#fff;border-radius:8px;padding:5px 8px;font-size:14px;color:#cc0000;z-index:888;
		}
	.uploding{position:absolute;top:40%;width:50%;left:30%;text-align:center;padding:30px 0; color:#fff;background:#333;border:1px solid #ccc;opacity:0.8;border-radius:15px;}
	</style>

<!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
        主页
        <small>管理面板</small>
      </h1>
      <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="active">Dashboard</li>
      </ol>
    </section>

    <!-- Main content -->
    <section class="content" style="overflow:hidden;">
   <caption>添加店铺第二步</caption>
   <form id="add-form">
	<table class="table table-striped">
  
		  
		<tr >		 
		 <td>上传门头图片</td>
		    <td><input type="button" class="btn btn-default " data-toggle="modal"  data-target="#myModal" value="上传/查看">
			
		 </tr>
		<tr >		 
		 <td>上传内景图片</td>
		    <td><input type="button" class="btn btn-default " data-toggle="modal"  data-target="#myModal2" value="上传/查看">
			
		 </tr>
		 <tr >		 
		 <td>上传产品图片</td>
		    <td><input type="button" class="btn btn-default " data-toggle="modal"  data-target="#myModal3" value="上传/查看">
			
		 </tr>

</table>
</form >
	<div style="text-align:center;">
	   
	    <input type="submit"  id="addshop2" class="btn btn-default" value="完成">
		
	</div>	
</section>

    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->

<!-- 模态框（Modal）上传门头图片 -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" 
   aria-labelledby="myModalLabel" aria-hidden="true">
   <div class="modal-dialog">
      <div class="modal-content">
         <div class="modal-header">
            <button type="button" class="close" 
               data-dismiss="modal" aria-hidden="true">
                  &times;
            </button>
            <h4 class="modal-title" id="myModalLabel">
               门头图片
            </h4>
         </div>
         <div class="modal-body">
			
		<div class="container">
		<form>
			<p style="width:500px;"><input class="file" type="file" id="file_input" multiple/>
			<label class="filebtn" for="file_input" title="JPG,GIF,PNG">请选择图片</label>
			</p>
			<div id="picbody" style="margin-top:15px;">
			</div>
			<volist name="img1" id="v">
				<p style="clear:both;" id="pic{$v.id}">
				<span style="width:560px;float:left;text-align:center;margin:15px 0;border:1px solid #ccc;padding:2px 1%;">
					<span style="width:100%;float:left;z-index:666;"><img src="{:C('siteurl')}{$v.pic_url}"></span>
					<span class="del-btn" data-id="{$v.id}" data-pic="{$v.pic_url}">删除</span>
				</span>
				</p>
				
			</volist>

			<input type="hidden" id="pictype" name="pictype" value="1">
			<input type="hidden" id="shopid" name="shopid" value="{$id}">
		</form>
		<div id="uploding" class="uploding" style="display:none;">上传中...</div>
		</div>
		
			
			
         </div>
         <div class="modal-footer">

            <button type="button" class="btn btn-primary" data-dismiss="modal" aria-hidden="true">
               确定
            </button>
         </div>
      </div><!-- /.modal-content -->
</div><!-- /.modal -->
</div>

<!-- 模态框（Modal） 上传内景图片-->
<div class="modal fade" id="myModal2" tabindex="-1" role="dialog" 
   aria-labelledby="myModalLabel" aria-hidden="true">
   <div class="modal-dialog">
      <div class="modal-content">
         <div class="modal-header">
            <button type="button" class="close" 
               data-dismiss="modal" aria-hidden="true">
                  &times;
            </button>
            <h4 class="modal-title" id="myModalLabel">
               内景图片
            </h4>
         </div>
         <div class="modal-body">
			
		<div class="container">
		<form>
			<p style="width:500px;"><input class="file" type="file" id="file_input2" multiple/>
			<label class="filebtn" for="file_input2" title="JPG,GIF,PNG">请选择图片</label>
			</p>
			<div id="picbody2" style="margin-top:15px;">
			</div>
			<volist name="img2" id="v">
				<p style="clear:both;" id="pic{$v.id}">
				<span style="width:560px;float:left;text-align:center;margin:15px 0;border:1px solid #ccc;padding:2px 1%;">
					<span style="width:100%;float:left;z-index:666;"><img src="{:C('siteurl')}{$v.pic_url}"></span>
					<span class="del-btn" data-id="{$v.id}" data-pic="{$v.pic_url}">删除</span>
				</span>
				</p>
				
			</volist>

			<input type="hidden" id="pictype2" name="pictype2" value="2">
			<input type="hidden" id="shopid2" name="shopid2" value="{$id}">
		</form>
		<div id="uploding2" class="uploding" style="display:none;">上传中...</div>
		</div>
		
			
			
         </div>
         <div class="modal-footer">

            <button type="button" class="btn btn-primary" data-dismiss="modal" aria-hidden="true">
               确定
            </button>
         </div>
      </div><!-- /.modal-content -->
</div><!-- /.modal -->
</div>

<!-- 模态框（Modal）上传产品图片 -->
<div class="modal fade" id="myModal3" tabindex="-1" role="dialog" 
   aria-labelledby="myModalLabel" aria-hidden="true">
   <div class="modal-dialog">
      <div class="modal-content">
         <div class="modal-header">
            <button type="button" class="close" 
               data-dismiss="modal" aria-hidden="true">
                  &times;
            </button>
            <h4 class="modal-title" id="myModalLabel">
               产品图片
            </h4>
         </div>
         <div class="modal-body">
			
		<div class="container">
		<form>
			<p style="width:560px;"><input class="file" type="file" id="file_input3" multiple/>
			<label class="filebtn" for="file_input3" title="JPG,GIF,PNG">请选择图片</label>
			</p>
			<div id="picbody3" style="margin-top:15px;">
			</div>
			<volist name="img3" id="v">
				<p style="clear:both;" id="pic{$v.id}">
				<span style="width:500px;float:left;text-align:center;margin:15px 0;border:1px solid #ccc;padding:2px 1%;">
					<span style="width:100%;float:left;z-index:666;"><img src="{:C('siteurl')}{$v.pic_url}"></span>
					<span class="del-btn" data-id="{$v.id}" data-pic="{$v.pic_url}">删除</span>
				</span>
				</p>
				
			</volist>

			<input type="hidden" id="pictype3" name="pictype3" value="3">
			<input type="hidden" id="shopid3" name="shopid3" value="{$id}">
		</form>
		<div id="uploding3" class="uploding" style="display:none;">上传中...</div>
		</div>
		
			
			
         </div>
         <div class="modal-footer">

            <button type="button" class="btn btn-primary" data-dismiss="modal" aria-hidden="true">
               确定
            </button>
         </div>
      </div><!-- /.modal-content -->
</div><!-- /.modal -->
</div>
<script>
$(document).ready(function(e) {
	
	$('.del-btn').click(function(){
	//alert("aaa");
	var id=$(this).attr('data-id');
	var pic=$(this).attr('data-pic');
	var user_id=$('#user_id').val();
	var token=$('#token').val();
	//alert(id);
	var url = "{:U('delpic')}?id="+id+"&pic="+pic;
	var r=confirm('你确定要删除这个图片吗？');
	if (r==true){
		$.get(url,function(data,status){
			console.log(data);
			if(data>=0){
				//$('#myModal').modal('hide');
				
				alert("删除成功");
				$("#pic"+id).hide();
			}
			
			else{
				alert("删除失败");
			}
		});
	}
	
	});
	
	$('#addshop2').click(function(){
		window.location.href="{:U('index')}";
	}
	);


});
</script>
<include file="Public/footer" />