<include file="Public/header" title="后台主页" />
<style>
.mypage{text-align:center;}
.mypage .current{padding:2px 6px;background:#0ae;border:1px solid #ddd;color:#fff;margin:3px;}
.mypage a{padding:2px 6px;background:#fff;border:1px solid #ddd;color:#0ae;margin:3px;}
</style>
<!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
        主页
        <small>管理面板</small>
      </h1>
      <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="active">Dashboard</li>
      </ol>
    </section>

    <!-- Main content -->
    <section class="content" style="overflow:hidden;">
	<table class="table table-striped">
   <caption>登录用户管理<span style="margin-left:10px;color:#cc0000;">({$usernum}条记录)</span></caption>
   <caption>
	<input type="text" name="keyword" id="keyword" value="{$keyword}" placeholder="请输入券的编号/名称"><input type="button" name="serach" id="search" value="搜索">
   </caption>
   <thead>
      <tr>
        <th>编号</th>
        <th>企业名称</th>
        <th>店铺名称</th>
		<th>说明</th>
        <th>优惠券类型</th>
		<th>优惠值</th>
        <th>开始时间</th>
		<th>结束时间</th>
        <th>状态</th>
        <th>数量</th>
		<th>消费确认时间</th>
		<th>操作</th>
      </tr>
   </thead>
   <tbody>
	  <foreach name="couponlist" item="v">
      <tr id="user-{$v.id}">
			<td>{$v.batch}</td>
			<td>{$v.company_id|getkbcompanyname=###}</td>
			<td>{$v.shop_id|getkbshopname=###}</td>
			<td>{$v.coupon_text}</td> 
			<td>
				 <if condition="$v[coupon_type] eq '1'">
							<span style="color:black">折扣券</span>
					<elseif condition="$v[coupon_type] eq '2'" />
						   <span style="color:black">现金券</span>
				</if>
			</td>
			<td>{$v.coupon_value}</td>
			<td><if condition="$v[forom_time] gt 0">{$v.forom_time|date="Y-m-d H:m",###}<else/>--</if></td>
			<td><if condition="$v[to_time] gt 0">{$v.to_time|date="Y-m-d H:m",###}<else/>--</if></td>
			<td>
				  <if condition="$v[status] eq '0'">
						<span style="color:black">未发放</span>
				  <else/>
					   <span style="color:black">已发放</span>
				
				 </if>
			</td>
			<td>
				{$v.batch|getcouponnum=###}
			</td>
			<td><if condition="$v[check_time] gt 0">{$v.check_time|date="Y-m-d H:m",###}<else/>--</if></td>
			<td>
				<if condition="$v[status] eq 0">
				<button class="btn btn-primary docheck" data-id="{$v[batch]}">审核</button>
				</if>
				<a class="btn btn-default" href="{:U('mycoupon')}?id={$v[batch]}">查看</a>
			</td>
	  </foreach>
	  <tr>
		<td colspan="15" class="mypage">{$page}</td>
	  </tr>
   </tbody>
</table>
	</section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->
  




<script>
$(document).ready(function(e) {
	

	$('.docheck').click(function(){
		var id=$(this).attr('data-id');
		var url="{:U('docheckcoupon')}?id="+id;
		console.log(url);
		var r=confirm('你确定要审核吗？');
		if (r==true){
			$.get(url,function(data,status){
			console.log(data);
			if(data>=0){
				//$('#myModal').modal('hide');
				alert("审核成功");
				window.location.href="{:U('coupon')}";
			}
			
			else{
				alert("审核失败");
			}
			});
		}
	});

	
	
	//搜索
	$('#search').click(function(){
	var keyword=$('#keyword').val();
	
	var url = "{:U('coupon')}?keyword="+keyword;
	window.location.href=url;
	});
	
	
});


</script>
<include file="Public/footer" />