<include file="Public/header" title="后台主页" />
<style>
.mypage{text-align:center;}
.mypage .current{padding:2px 6px;background:#0ae;border:1px solid #ddd;color:#fff;margin:3px;}
.mypage a{padding:2px 6px;background:#fff;border:1px solid #ddd;color:#0ae;margin:3px;}
</style>
<!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
        主页
        <small>管理面板</small>
      </h1>
      <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="active">Dashboard</li>
      </ol>
    </section>

    <!-- Main content -->
    <section class="content" style="overflow:hidden;">
	<table class="table table-striped">
   <caption>商家相册查看</caption>
   <caption>

   
   <thead>
      <tr>
          <th>编号</th>
         <th>企业名称</th>
         <th>店铺名称</th>
		 <th>图片类型</th>
         <th>图片URL</th>
		 <th>添加时间</th>
		 <th>操作</th>
       
      </tr>
   </thead>
   <tbody>
	  <volist name="imglist" id="v">
      <tr id="pic{$v.id}">
         <td>{$v.id}</td>
         <td>{$v.company_id|getkbcompanyname=###}</td>
         <td>{$v.shop_id|getkbshopname=###}</td>
		 <td>
		
		  <if condition="$v[img_type] eq '1'">
							<span style="color:black">门头</span>
		<elseif condition="$v[img_type] eq '2'" />
			   <span style="color:black">内景</span>
		<elseif condition="$v[img_type] eq '3'" />
			   <span style="color:black">产品图片</span>	   
						   
		</if>
		 
		 </td>
		   <td>
		   
		   <if condition="$v[pic_url] neq ''"><img src="{$v.pic_url}" height="100" width="100"></if>
		   </td>
           <td>{$v.create_time|date='Y-m-d H:i',###}</td>
           <td><span class="del-btn btn btn-primary" data-id="{$v.id}" data-pic="{$v.pic_url}">删除</span></td>
		 </tr>
	  </volist>
	  <tr>
		<td colspan="12" class="mypage">{$page}</td>
	  </tr>
   </tbody>
</table>
	</section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->

<script>
$(document).ready(function(e) {

	
	$('.del-btn').click(function(){
	//alert("aaa");
	var id=$(this).attr('data-id');
	var pic=$(this).attr('data-pic');
	var user_id=$('#user_id').val();
	var token=$('#token').val();
	//alert(id);
	var url = "{:U('delpic')}?id="+id+"&pic="+pic;
	var r=confirm('你确定要删除这个图片吗？');
	if (r==true){
		$.get(url,function(data,status){
			console.log(data);
			if(data>=0){
				//$('#myModal').modal('hide');
				
				alert("删除成功");
				$("#pic"+id).hide();
			}
			
			else{
				alert("删除失败");
			}
		});
	}
	
	});
	
	
	


});
</script>
<include file="Public/footer" />